<% include ../partials/header %>

<div class="container">
    <% if (errors) { %>
        <% for(var i = 0; i < errors.length; i++) { %>
            <div class="alert alert-warning" role="alert">
                <%= errors[i].msg %>
            </div>
        <% } %>
    <% } %>

    <form action="/users" method="post">
        <div class="form-group">
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" value="<% if (email) { %> email <% } %>" required>
        </div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" aria-describedby="emailHelp" placeholder="Username" value="<% if (username) { %> username <% } %>" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

<% include ../partials/footer %>